config SHIELD_LINTILLA_LEFT_CENTRAL
    def_bool $(shields_list_contains,lintilla_left_central)

config SHIELD_LINTILLA_RIGHT_PERIPHERAL
    def_bool $(shields_list_contains,lintilla_right_peripheral)

config SHIELD_LINTILLA_DONGLE
    def_bool $(shields_list_contains,lintilla_dongle)

config SHIELD_LINTILLA_LEFT_PERIPHERAL
    def_bool $(shields_list_contains,lintilla_left_peripheral)

config SHIELD_LINTILLA_MACRO_RIGHT
    def_bool $(shields_list_contains,lintilla_macro_right)
